body {
  background-color: rgb(79, 75, 74);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cars_list{
  margin:0 auto;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}
