body {
  background-color: rgb(81 205 244);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cars_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.cardd {
  height: 485px;
  background-color: rgb(255, 255, 255);
  border: 2px;
  border-style: solid;
  border-color: rgb(27, 25, 25); /* Цвет границы */
  border-radius: 5px;
  width: 18rem;
  margin: 10px;
}
.textoviki {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manybut {
  display: flex;
  justify-content: center;
  align-self: end;

}
.card-img-top {
  padding: 10px;
  border-radius: 5px;
}
.btn-info {
  margin-left: 5px;
  margin-right: 5px;
}
#findfood {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.form-control {
  margin-top: 16px;
}
.findbtn {
  margin-left: 10px;
}
img.background {
  height: auto;
  width: 100%;
  margin-top: -120px;
}
.navbar1 {
  width: 100% !important;
  background-color: white !important;
  font-size: 17px;
  font-weight: 650;
  color: white !important;
}

.imginf {
  height: 300px;
}
.headinf,
.infoinf {
  color: aliceblue;
  margin-top: 15px;
}
.infoinf {
  margin-left: 100px;
  margin-right: 100px;
}
.ups {
  margin-top: 50px;
  color: white;
  font-size: 30px;
  font-weight: 650;
}
.form-label {
  font-size: 17px;
  font-weight: 650;
  color: white !important;
}
#log-form,
#reg-form {
  margin-top: 50px
}
.errorst {
  font-size: 15px
}
.formtop2 {
  margin-top: -5px;
}
