body {
  background-color: rgb(81 205 244);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cars_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardd {
  height: 500px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 2px;
  border-style: solid;
  border-color: rgb(27, 25, 25); /* Цвет границы */
  border-radius: 5px;
  width: 18rem;
  margin: 10px;
}
.textoviki {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textoviki p {
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center;
}
.mainname{
  margin-top: 20px;
  font-size: larger;
  font-weight: 650;
  
}
.manybut {
  margin-top: 30px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-self: end;
  position: absolute;
  bottom: 1px;
  left: 11px;
}
.manybut2 {
  left: 17px; !important;
}
.card-img-top {
  padding: 10px;
  border-radius: 5px;
}
.btn-info {
  margin-left: 5px;
  margin-right: 5px;
}
#findfood {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.form-control {
  margin-top: 16px;
}
.findbtn {
  margin-left: 10px;
}
img.background {
  height: auto;
  width: 100%;
  margin-top: -120px;
}
.navbar1 {
  text-align: center ;
  width: 100% !important;
  z-index: 1;
  background-color: white !important;
  font-size: 24px;
  font-weight: 650;
  opacity: 0.75;
}
.fav{
  position: fixed;
  right: 50%;
}
.reg, .user {
  position: fixed;
  right: 13%;
}
.log, .out{
  position: fixed;
  right: 4%;
}

.imginf {
  height: 300px;
}
.headinf,
.infoinf {
  color: aliceblue;
  margin-top: 15px;
}
.infoinf {
  margin-top: 50px;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 18px;
  font-weight: 650;
}
.ups {
  margin-top: 50px;
  color: white;
  font-size: 30px;
  font-weight: 650;
}
.form-label {
  font-size: 17px;
  font-weight: 650;
  color: white !important;
}
#log-form,
#reg-form {
  margin-top: 50px;
}
.errorst {
  font-size: 15px;
}
.formtop2 {
  margin-top: -5px;
}

.main {
  /* margin: 1em 0 0.5em 0; */
  color: #343434;
  font-weight: normal;
  font-family: "Ultra", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}
.recipes {
  position: absolute;
  right: 53%;
}
.fav {
  position: absolute;
  right: 42%;
}
.reg,
.user {
  position: absolute;
  right: 12%;
}

.log,
.out {
  position: absolute;
  right: 5%;
}
#exampleInputEmail1 {
  width: 215px;
}